<a href="https://colab.research.google.com/github/suyu996623/Git/blob/main/%E8%B3%87%E6%96%99%E5%9E%8B%E5%88%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[內建函式](https://docs.python.org/zh-tw/3/library/functions.html)

[print](https://docs.python.org/zh-tw/3/library/functions.html#print)

[運算子的優先順序](https://docs.python.org/zh-tw/3/reference/expressions.html#operator-precedence)

[keyword 模組](https://docs.python.org/zh-tw/3/library/keyword.html)

## 考題解析

In [ ]:
# P.01 字串與整數的不同

rooms = {1: 'Foyer', 2: 'Conference Room'}
room = input('Enter the room number: ')
if not room in rooms:
	print('Room does not exist.')
else:
	print("The room name is " + rooms[room])

Enter the room number: 1
Room does not exist.

In [ ]:
# P.02

def divide(x, y):
    try:
        result = x / y
    except ZeroDivisionError:
        print("division by zero!")
    else:
        print("result is", result)
    finally:
        print("executing finally clause")

divide(2, 1)
#divide(2, 0)
#divide("2", "1")

result is 2.0
executing finally clause

In [ ]:
# P.03  日期格式
# https://docs.python.org/zh-tw/3/library/datetime.html

import datetime
d = datetime.datetime(2017, 4, 7)
print('{:%B-%d-%y}'.format(d))

In [ ]:
# P.04  檔案的讀取
inventory = open(r"/content/drive/MyDrive/Colab Notebooks/inventory.txt", 'r')
eof = False
while eof == False:
    line = inventory.readline()
    if line != '':
        if line != '\n':
            print(line,end='')
    else:
        print ("\nEnd of file")
        eof = True
        inventory.close()

In [ ]:
# P.05

age = 12
minor = False
name = "David"
weight = 64.5
zip = "545"

In [ ]:
# P.06 日期資料

import datetime
dailySpecials=("Spaghetti","Macaroni & Cheese", "Meatloaf", "Fried Chicken")
weekendSpecials=("Lobster","Prime Rib","Parmesan-Crusted Cod")
now=datetime.datetime.now()
today=now.strftime("%A")
print("My Healthy Eats Delivery")
if today == "Friday" or today =="Saturday" or today =="Sunday":
    print("The weekend specials include:")
    for item in weekendSpecials:
        print(item)
else:
    print("The weekday spcials include: ")
    for item in dailySpecials:
        print(item)
daysLeft=6-now.weekday()
print(f"Pricing specials change in {daysLeft} days")

In [ ]:
# P.07 多重選擇的寫法
#Letter Grade Converter
grade = int(input("Enter a numeric grade"))
if grade >= 90 :
	letter_grade='A'
elif grade >= 80 :
	letter_grade='B'
elif grade >= 70 :
	letter_grade='C'
elif grade >= 65 :
	letter_grade='D'
else :
	letter_grade='F'
print("Your letter grade is ", letter_grade)

In [ ]:
# P.08  無條件捨去小數

In [ ]:
# P.09  條件式

#DVD Rental Calculator
ontime = input("Was the video returned before 8 PM? Y or N").lower()
days_rented = int(input("How many days was the video rented?"))
weekday = input("What day was the video rented?").capitalize()
cost_per_day = 1.59

if ontime == 'n':
    days_rented +=1


if weekday == "Sunday":
    total = (days_rented * cost_per_day) * 0.7
elif weekday == "Thursday":
    total = (days_rented * cost_per_day) * 0.5
else:
    total = days_rented * cost_per_day


print("Cost of the DVD rental is: $", total)

In [ ]:
# P.10

print("What is your name?")
name = input()
print(name)

In [ ]:
# P.11

total = int(input("請輸入總數？"))

In [ ]:
# P.12 函式的設計與呼叫
# ●接受清單和字串做為參數。
# ●在清單中搜尋字串。
# ●如果字串存在清單中,則列印一則訊息,指出找到字串,然後停止逐一查看清單。
# ●如果字串不在清單中,則列印一則訊息,指出找不到字串。

def search(items, term):
    for i in range(len(items)):
        if items[i] == term:
            print("{0} was found in the list.".format(term))
            break
    else:
        print("{0} was not found in the list.".format(term))

search(['A','B','C','D'],'E')

In [ ]:
# P.13 資料輸入與字串格式化
sum1 = count = 0
average = 0.0
while True:
    rating = float(input("Enter next rating (1-5, -1 for done)"))
    if rating == -1:
        break
    sum1 += rating
    count += 1
average = float(sum1 / count)
print(      "The average star rating for the new coffee is:"  +   format(average,'.2f')     )

In [ ]:
# P.14  雙重選擇與多重選擇
grade = 95
if 0 <= grade <= 100 :

    if grade >= 90 :
        print("Your grade is A.")
    elif grade >= 80 :
        print("Your grade is B.")
    elif grade < 80 and  grade > 69 :
        print("Your grade is C.")
    else :
        print("Your grade is failing.")

else :
    print("Invalid grade entered.")

In [ ]:
# P.15 取餘數

from random import randint
num = randint(1, 100)
if num % 2 == 0 :
    print("%d 是偶數" % num)
else :
    print("%d 是奇數" % num)

In [ ]:
# P.16  如何去開啟一個檔案來 讀取  資料
import os

def get_first_line(filename, mode) :

    if os.path.isfile(filename) :  # Return True if path is an existing regular file.

        with open(filename, mode) as file :

            return file.readline()
    else:

        return None

get_first_line(r'/content/drive/MyDrive/Colab Notebooks/inventory.txt', 'r')

In [ ]:
# P.17

list_1 = [1,2]
list_2 = [3,4]
list_3 = list_1 + list_2
list_4 = list_3 * 3
print(list_4)

In [ ]:
# P.18  隨機變數如何產生
# https://docs.python.org/zh-tw/3/library/random.html

import random

print(  random.randrange(5, 12, 1)   )
print(  random.randint(5, 11)    )

In [ ]:
# P.19 雙迴圈的使用
# Displays time tables 2 - 12

def times_tables():
    for row in range(2,13) :
        for col in range(2,13) :
            print(row * col, end = " ")
        print()

# main
times_tables()

In [ ]:
# P.20  串列的切片

list1 = [5,8,3,9,1,3,0,3,6,4,8,7]
list1[:-5]

In [ ]:
# P.21
def print_table(file):
    data = open(file,'r')
    # print(data)
    # iter(data)
    for record in data:
        #print(record)
        fields = record.strip().split(",")
        print('=========0=========0=========0')
        print("{0:10}{1:5.1f}{2:7.2f}".format(fields[0], eval(fields[1]), eval(fields[2])))

print_table(r'/content/drive/MyDrive/Colab Notebooks/水果的價格.txt')

=========0=========0=========0
Oranges     5.6   1.33
=========0=========0=========0
Apples      2.0   0.54
=========0=========0=========0
Grapes     10.2  10.96

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
a = 100
iter(a)

TypeError: ignored

In [ ]:
# P.22

# A. open("local_data", "w+")

In [ ]:
# P.23  數學模組的數學函式使用
# https://docs.python.org/zh-tw/3/library/math.html

import math

x = -2.876

print( math.floor(x) )
print( math.fabs(x) )

-3
2.876

In [ ]:
# P.24 雙迴圈的使用技巧

result_str=""
for row in range(1,6):
    for column in range(1,5):
        if (row==1 or row==3 or row==5):
            result_str=result_str+"*"
        elif column==1:
            result_str=result_str+"*"
    result_str=result_str+"\n"
print(result_str)

****
*
****
*
****

In [ ]:
# P.25 assert方法 英文字要了解即可看出答案

In [ ]:
# P.26 多重選擇與條件式

def safe_divide(numerator=None, denominator=None):
    if numerator is None or denominator is None :
        print("A required value is missing.")
    elif denominator == 0 :
        print("The denominator is zero.")
    else :
        return numerator / denominator

safe_divide(10,5)

2.0

In [ ]:
# P.27 巢狀式選擇的寫法

def safe_root(a, b):
    '''
    函式說明
    專門處理數值開根號

    '''
    if a >= 0 :
        answer = a ** (1 / b)
    else :
        if a % 2 == 0 :
            answer = "Result is an imaginary number"
        else :
            answer = -(-a) ** (1 / b)

    return answer

safe_root(27, 3)
print(safe_root.__doc__)

    函式說明
    專門處理數值開根號

In [ ]:
print?

In [ ]:
# P.28  算數運算子的優先順序
# https://docs.python.org/zh-tw/3/reference/expressions.html#operator-precedence

(5 * (1 + 2) ** 2 - 3 + 4 / 2)

44.0

In [ ]:
# P.29

numList = [1, 2, 3, 4, 5]
alphaList = ["a", "b", "c", "d", "e"]
print(numList is alphaList)
print(numList == alphaList)
numList = alphaList
print(numList is alphaList)
print(numList == alphaList)

False
False
True
True

In [ ]:
a = (1,2)
b = (1,2)
a[0] = 100
a

TypeError: ignored

In [ ]:
# P.30  註解的寫法

def get_balance():
	# Returns the current balance of the bank account
	return balance

In [ ]:
# P.31 條件式迴圈

numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
index = 0

while(index < 10) :
    print(numbers[index])
    if numbers[index] == 6 :
        break
    else :
        index += 1

0
1
2
3
4
5
6

In [ ]:
# P.32  字串的串接與累加運算子 +=

a = 'Config1'
print(a)
b = a
a += 'Config2'
print(a)
print(b)

Config1
Config1Config2
Config1

In [ ]:
# P.33 算數運算子

a = 21
b = 5
print(a / b)
print(a // b)
print(a % b)

4.2
4
1

In [ ]:
# P.34

a = 'aaaaaaaa'
a

'aaaaaaaa'

In [ ]:
# P.35 算數運算子的優先順序
a= eval(input("Enter a number for the question:"))
b=(-a)**2
b

Enter a number for the question:3

9

In [ ]:
# P.36 try 的語法看你會不會

In [ ]:
# P.37

def roomAssignment(student, year):
	"""Assign rooms to students"""
	if year == 1:
		print(f"\n{student.title()}, please report to room 115")
	elif year == 2:
		print(f"\n{student.title()}, please report to room 210")
	elif year == 3:
		print(f"\n{student.title()}, please report to room 320")
	elif year == 4:
		print(f"\n{student.title()}, please report to room 405")
	elif year == 5:
		print(f"\n{student.title()}, please report to room 515")
	else:
		print(f"\n{student.title()}, please report to room 625")


name = input("What is your name?")
grade = 0
while grade not in (1,2,3,4,5,6):
	grade = int(input("What grade are you in (1-6)?"))
roomAssignment(name,year=grade)


#roomAssignment("Sherlock Sassafrass",4)

What is your name?suyu
What grade are you in (1-6)?4

Suyu, please report to room 405

In [ ]:
# P.38

def petStore(category, species, breed = "none"):
    """Display information about a pet."""
    print(f"\nYou have selected an animal from the {category} category.")
    if breed == "none":
        print(f"The {category} you selected is a {species}")
    else:
        print(f"The {category} you selected is a {species} {breed}")
    print(f"\nThe {category} would make a great pet!")

category = input("What animal category are you interested in?")
species = input("What species are they from (canine, feline, Scarlet Macaw, Blue and Gold Macaw?")

if category == "dog" or category =="cat":
    breed = input("What breed are you interested in?")
    petStore(category, species, breed)
else:
    petStore(category, species)

petStore(breed="Maltese",species="Canine", category="dog")
petStore("bird",species="Scarlet Macaw")

What animal category are you interested in?cat
What species are they from (canine, feline, Scarlet Macaw, Blue and Gold Macaw?canine
What breed are you interested in?A

You have selected an animal from the cat category.
The cat you selected is a canine A

The cat would make a great pet!

You have selected an animal from the dog category.
The dog you selected is a Canine Maltese

The dog would make a great pet!

You have selected an animal from the bird category.
The bird you selected is a Scarlet Macaw

The bird would make a great pet!

In [ ]:
# P.39 資料型別的認識
print( type(+1E10)  )
print( type(5.0)    )
print( type("True") )
print( type(True)  )

<class 'float'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [ ]:
# P.40

def calc_power(a, b):
    return a**b
base = eval(input("Enter the number for the base:"))
exponent = eval(input("Enter the number for the exponent:"))
result = calc_power(base, exponent)
print("The result is " + str(result))

Enter the number for the base:2
Enter the number for the exponent:3
The result is 8

In [ ]:
a = 10
b = 5
eval('a/b')

2.0

In [ ]:
# P.41
def increment_score(score, bonus, points=1) :
    if bonus == True :
        points = points * 2
    score = score + points
    return score

points = 5
score = 10
new_score = increment_score(score, True,points)
new_score

20

In [ ]:
# P.42 比較運算子 in , not in
slist = ['a', 'b', 'c', 'd', 'e', 'f']
print('f' in slist)

True

In [ ]:
# P.43

#employee_number =""
employee_number ="123"

parts=""

while employee_number !="" :
#while employee_number !="123" :
    valid = False
    #valid = True
    employee_number = input("Enter employee number (ddd-dd-dddd): ")
    parts = employee_number.split('-')
    if len(parts) == 3:
        if len(parts[0]) == 3 and len(parts[1]) == 2 and len(parts[2]) == 4:
            if parts[0].isdigit() and parts[1].isdigit() and parts[2].isdigit():
                #valid= False
                valid = True
    print(valid)

Enter employee number (ddd-dd-dddd):
False

In [ ]:
# P.44

productIdList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
index = 0

while(index < 10):
    print(productIdList[index])
    if productIdList[index] == 6:
        break
    else:
        index +=1

0
1
2
3
4
5
6

In [ ]:
# P.45 字串格式化

item = input ("Enter the item name: ")
sales = input ("Enter the quantity: ")
print( '"' + item + '",'+sales)
print( '"{0}",{1}'.format(item, sales)                        )

Enter the item name: suyu
Enter the quantity: 100
"suyu",100
"suyu",100

In [ ]:
# P.46
product = 2
n = 5
while (n != 0):
    product *= n
    print(product)
    n -= 1
    if n == 3 : break

10
40

In [ ]:
# P.47

def grosspay(hours=40,rate=25,pieces=0,piecerate=0,salary=0):

    overtime=0

    if pieces > 0:
        return pieces * piecerate

    if salary > 0:
        pass

    if hours > 40:
        overtime = (hours-40) * (1.5 * rate)
        return overtime + (40 * rate)
    else:
        return hours * rate

grosspay(pieces=500, piecerate=4)

2000

In [ ]:
# P.48
num = int(input("Enter a number with 1 or 2 digits: "))

digits = "0"

if num > -10 and num < 10 :
    digits = "1"
elif num > -100 and num < 100 :
    digits = "2"
else :
    digits = ">2"

print(digits + " digits.")

Enter a number with 1 or 2 digits: 400
>2 digits.

In [ ]:
# P.49

from random import randint

target = randint(1, 10)
chance = 1
print("Guess an integer from 1 to 10. You will have 3 chances. ")

while chance <= 3:

    guess = int(input("Guess an integer: "))

    if guess > target:
        print("Guess is too high")
    elif guess < target:
        print("Guess is too low")
    else:
        print("Guess is just right!")
        break

    chance += 1

Guess an integer from 1 to 10. You will have 3 chances.
Guess an integer: 6
Guess is too low
Guess an integer: 8
Guess is just right!

In [ ]:
# P.50 考變數的資料型態
age = input("Enter your age: ")
year = input("Enter the four-digit year: ")
born = eval(year) - eval(age)
message = "You were born in " + str(born)
print(message)
type(born)

Enter your age: 50
Enter the four-digit year: 2023
You were born in 1973

int

In [ ]:
# P.51 算數運算子

value1 = 24
value2 = 7
value3 = 17.9

answer = (value1 % value2 *100) // 2.0 ** 3.0 - value2
print(answer)

30.0

In [ ]:
# P.52

def read_file(file):
    line = None
    if os.path.isfile(file):  #  os 模組尚未載入
        data = open(file, 'r')
        for line in data:
            print(line)

read_file('file')

NameError: ignored

In [ ]:
# P.53
name = input("Enter your name: ")

if name.lower() == name:
    print(name, "is all lower case.")
elif name.upper() == name:
    print(name, "is all upper case.")
else:
    print(name, "is mixed case.")

Enter your name: suyu
suyu is all lower case.

In [ ]:
# P.54 字串切片

alph = "abcdefghijklmnopqrstuvwxyz"
alph[3:15]
alph[3:15:3]
alph[15:3:-3]
print( alph[::-3] )

zwtqnkheb

In [ ]:
# P.55

def admission_fee(age, school) :

    rate = 0

    if age >= 5 and school == True :

        rate = 10

    elif age >=5 and school == False :

        if age <= 17 :

            rate = 20

        else :

            rate = 50

    return rate

print( admission_fee(10, False) )

20

In [ ]:
# P.56  固定次數迴圈與中途返回
salary_list = [90000,160000,120000]

for index in range(len(salary_list)):
	if salary_list[index] >= 150000:
		continue
	salary_list[index] = (salary_list[index] *1.03) +500

salary_list

[93200.0, 160000, 124100.0]

In [ ]:
# P.57  開檔

import os
if os.path.isfile('/content/drive/MyDrive/Colab Notebooks/水果的價格.txt'):
	file = open('/content/drive/MyDrive/Colab Notebooks/水果的價格.txt')
	print(file.read())
	file.close()

Oranges,5.6,1.33
Apples,2.0,0.54
Grapes,10.2,10.96

In [ ]:
# P.58  隨機變數產生資料的方法

from random import randint
print(randint(1, 20) * 5)

from random import randrange
print(randrange(5, 105, 5))

55
20

In [ ]:
# P.59  固定次數迴圈

employee_pay = [15000, 120000, 35000, 45000]
count = 0
sum = 0

for index in range(len(employee_pay)):
	count += 1
	sum += employee_pay[index]

average = sum/count
print("The total payroll is:", sum)
print("The average salary is:", average)

The total payroll is: 215000
The average salary is: 53750.0

In [ ]:
# P.60  固定次數迴圈

def count_letter(letter, word_list):
	count = 0
	for word in word_list:
		if letter in word:
			count += 1
	return count

word_list = ["which","letter","would","you","like","to","count"]
letter = input("which letter would you like to count")
letter_count = count_letter(letter, word_list)
print("There are: ", letter_count, "instances of " + letter)

which letter would you like to countt
There are:  3 instances of t

In [ ]:
# P.61  背下來 https://docs.python.org/zh-tw/3/library/unittest.html

import	unittest
class TestIsInstance( unittest.TestCase ):
	def	test_isInstance(self):
		self.assertIsInstance(obj, cls, msg=None)
if __name__ == '__main__':
	unittest.main()

E
======================================================================
ERROR: /root/ (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/root/'

----------------------------------------------------------------------
Ran 1 test in 0.001s

FAILED (errors=1)

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
import unittest

class TestStringMethods(unittest.TestCase):

    def test_upper(self):
        self.assertEqual('foo'.upper(), 'FOO')

    def test_isupper(self):
        self.assertTrue('FOO'.isupper())
        self.assertFalse('Foo'.isupper())

    def test_split(self):
        s = 'hello world'
        self.assertEqual(s.split(), ['hello', 'world'])
        # check that s.split fails when the separator is not a string
        with self.assertRaises(TypeError):
            s.split(2)

if __name__ == '__main__':
    unittest.main()

E
======================================================================
ERROR: /root/ (unittest.loader._FailedTest)
----------------------------------------------------------------------
AttributeError: module '__main__' has no attribute '/root/'

----------------------------------------------------------------------
Ran 1 test in 0.003s

FAILED (errors=1)

SystemExit: ignored

/usr/local/lib/python3.10/dist-packages/IPython/core/interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

In [ ]:
# P.62  隨機變數的使用

In [ ]:
# P.63  最麻煩的一題，背下來

In [ ]:
# P.64  程式註解的寫法

In [ ]:
# P.65 input 函式  註解怎麼用

In [ ]:
# P.66  迴圈的條件與索引編號

In [ ]:
# P.67  函式參數的定義

In [ ]:
# P.68  input 函式  註解怎麼用

In [ ]:
# P.69  w+ 檔案可以不存在

In [ ]:
# P.70  多重選擇的條件

grade = 76
rank = 3

if grade > 80 and rank >= 3:
	grade += 10
elif grade > 70 and rank > 3:
	grade += 5
else:
	grade -= 5

print(grade)

71

In [ ]:
# P.71  條件式迴圈   固定次數迴圈  的語法

x = "Hello World"
while x != "QUIT":
	num = 0
	for char in x:
		num += 1
	print(num)
	x = input("Enter a new word or QUIT to exit: ")

11
Enter a new word or QUIT to exit: suyusyuyus
10
Enter a new word or QUIT to exit: QUIT

In [ ]:
# P.72  關係運算子

In [ ]:
# P.73 算數運算子

x = "oranges"
y= "apples"
z= "bananas"
data = "{1} and {0} and {2}"
print(data.format(z, y, x))

In [ ]:
# P.74  開檔案的模式與寫入資料的指令

In [ ]:
# P.75  if  else  雙重選擇與條件式

In [ ]:
# P.76 算數運算子的優先順序